.navbar-container {
  display: flex;
  position: relative;
}
.navbar-navbar {
  gap: 5rem;
  height: var(--dl-size-size-large);
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.navbar-logo {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-style: normal;
  font-family: "Diplomata";
  font-weight: 600;
}
.navbar-desktop-menu {
  display: flex;
}
.navbar-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar-button {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar-link1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-facebook {
  color: #ffffff;
}
.navbar-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.navbar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.navbar-login {
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon-group {
  display: flex;
}
.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navbar-root-class-name1 {
  top: 0px;
  left: 101px;
  position: absolute;
}
@media(max-width: 991px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-btn-group {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-button1 {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .navbar-logo1 {
    color: #000000;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .navbar-navbar {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.home-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  background-color: #27272D;
}
.home-image {
  width: 466px;
  height: 100%;
  object-fit: cover;
}
.home-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-header {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 90px;
  max-width: 900px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Monoton";
  font-weight: 500;
  line-height: 108px;
}
.home-caption {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  align-self: flex-start;
  text-align: left;
  line-height: 36px;
}
.home-text03 {
  font-family: "Diplomata";
}
.home-text05 {
  font-family: "Diplomata";
}
.home-text07 {
  font-family: "Diplomata";
}
.home-whats-on {
  flex: 0 0 auto;
  width: 999px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home-text09 {
  color: rgb(255, 255, 255);
  font-family: "Monoton";
}
.home-find-us {
  flex: 0 0 auto;
  width: 999px;
  height: 100px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home-text10 {
  color: rgb(255, 255, 255);
  font-family: "Monoton";
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-text11 {
  color: rgb(0, 0, 0);
  height: fit-content;
  font-size: 32px;
  box-shadow: rgb(0, 0, 0) 20px 20px 0px 0px;
  font-style: normal;
  font-family: "Josefin Sans";
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: rgb(249, 222, 60);
}
.home-text12 {
  color: #000000;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}
.home-text13 {
  color: #000000;
  font-style: italic;
  font-weight: 700;
}
.home-text14 {
  color: #000000;
}
.home-text15 {
  color: #000000;
}
.home-text16 {
  color: #000000;
}
.home-text17 {
  color: #000000;
}
.home-text18 {
  color: #000000;
}
.home-text19 {
  color: #000000;
}
.home-iframe {
  width: 600px;
  height: 500px;
  box-shadow: 20px 20px 0px 0px #000000;
}
.home-contact {
  flex: 0 0 auto;
  width: 999px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home-text21 {
  color: rgb(255, 255, 255);
  font-family: "Monoton";
}
@media(max-width: 991px) {
  .home-container1 {
    flex-direction: column;
  }
  .home-image {
    height: 400px;
  }
  .home-heading {
    margin-left: 0;
  }
  .home-header {
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  .home-caption {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-iframe {
    width: 300px;
    height: 400px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-header {
    font-size: 36px;
    line-height: 43px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-heading {
    margin-left: TwoUnits;
  }
}
